/* Base Styles -------------------- */

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.grandparent-header {
    text-align: center;
    font-size: 90px;
    background-color: rgb(146, 218, 218);      
}

.heukeyoung {
    width: 400px;
    height: 300px;
}

.heukesold {
    width: 1em;
    height: 2em;
}

.momanddad {
    text-align: center;
    font-size: 70px;
    background-color: rgb(161, 206, 161);
}

.kids {
    text-align: center;
    font-size: 50px;
    background-color: rgb(196, 172, 218);
}

.grandkids {
    text-align: center;
    font-size: 40px;
    background-color: green;
}

.greats {
    text-align: center;
    font-size: 30px;
    background-color: yellow;
}

.gparents {
    display: inline-block;
}

